nav.siteDrawer {
  flex: 0 0 35%;
  position: absolute;
  background-color: #0b1f26;
  transition: 0.4s ease-out;
  transform: translateX(-100%);
  z-index: 20;
  height: 100%;
  width: 35%;
}
nav.siteDrawer.active {
  transform: translateX(0);
}
